<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
    <li [ngbNavItem]="1">
        <!-- <button ngbNavLink>home</button> -->
        <button ngbNavLink [routerLink]="['/home']">home</button>
	</li>
	<li [ngbNavItem]="2">
        <!-- <button ngbNavLink>book list</button> -->
        <button ngbNavLink [routerLink]="['/book']">book list</button>
	</li>
</ul>
<!-- <pre>Active: {{ active }}</pre> -->
<h3>This is BookMonkey :)</h3>
<div [ngbNavOutlet]="nav" class="mt-2"></div>

<hr>
<div class="main">



  <router-outlet></router-outlet>
</div>
<hr>
<h5>End of BookMonkey ;)</h5>
